<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="ms.pagetype" content="hubpage" />
    {{ metadata }}
    {% if page._op_canonicalUrl != null %}<link href="{{ page._op_canonicalUrl }}" rel="canonical">{% endif %}
    <title>{{ page.title }}</title>
    {% style css/hubpage.css %}
  </head>
  <body>
    <header data-component="UXService">
      {% include header.html %}
    </header>
    <div ms.pgarea="body">
      {{ content }}
    </div>
    <footer/>
    {% js javascript/hubpage.js %}
  </body>
</html>
