<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/error.css">
</head>

<body>
  <header data-component="UXService"></header>
    <div class="error-content">
        <h1>We're sorry, the page you requested cannot be found.</h1>
        <p>&nbsp;</p>
        <p>The URL might be misspelled, or the page you're looking for is no longer available.</p>
        <p>&nbsp;</p>
        <h3>TIPS</h3>
        <p>&nbsp;</p>
        <ul>
            <li>If you entered the web address, check that it doesn't contain a typo.</li>
            <li>Use the MSDN-specific search box at the top of the page to try to locate the page.</li>
            <li>Check out the list of common destinations below.</li>
        </ul>
        <p>&nbsp;</p>
    </div>
    <footer/>
    <script src="../javascript/conceptual.js"></script>
</body>

</html>
